:root{

    --main_background_color: rgb(236, 236, 236);
    --section_background_color: rgb(231, 231, 231);
    --primary_blue: #0078e1;

    --search_result--width: calc(75% - 60px - 2px);
    --search_result--margin_left: calc(25% + 60px + 2px);

    
    /* ---- SEARCH_FORM ---- */
    --button_font_and_border_color: rgb(35, 35, 35);

    --search_form__button--border_color:rgb(60, 60, 60);
    --search_form__button--font_color:rgb(60, 60, 60);
    --search_form__button--background_color: whitesmoke;

    --search_form__button_active--border_color:rgb(0, 124, 255);
    --search_form__button_active--font_color:rgb(0, 124, 255);  
    --search_form__button_active--background_color: #e6f4ff;
    --search_form__button_active--background_color: #eaf6ff;


    /* ---- USER SUBPAGE ---- */

    --user_subpage__light_grey: #d6dce0;





}


